$primary: #344531;
$secondary: #434255;
$white:#544533;
$primary-light:#787777;
$primary-ex-light:#1445b61a;

$color-1:#2e577933;
$color-2:#f3687133;
$color-3:#ffdd4033;
$reviews-bg:#6f5b96;

$btn:#4DA9FF;
 
$treatmentcardbg:#f7f8f9;
// dashboardcolor//////////////////////
$color-highlight: #fac253;
$nav-link-hover-color: #fa7676;
$colorwhite:#fff;
$dark :#030514;
$sliderbg :#6889bf;
$nav-link-hover-color:#91856d;